# Dependency directories
node_modules/

# Uploaded files
uploads/

# Environment / Firebase credentials
.env
*.json
firebase-key.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db
